<form id="upload-form" enctype="multipart/form-data" method="POST" action="/upload">
    <input id="avatar" name="avatar" type="file" style="display:none" onchange="document.getElementById('upload-form').submit()"/>
    <label for="avatar">Upload image...</label>
</form>
<div style="display: flex">
<% files.forEach(function(file){ %>
    <img style="width: 5em" src="uploads/<%= file.name %>">
<% }); %>
</div>